<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dloadb2bx/image/upload/v1619880803/photo-1612194554074-81669dba235c_nd6rrz.jpg);">
  <div class="container">
    <h1>Find <strong>Developers</strong>!</h1>
    <p>The best developers around the world, ready to be hired by you.</p>
  </div>
</div>

<div class="container  bg-dev-container" >
  <div class="card-dev">
    <div class="content-dev">
      <div class="row">

        <div class="col-lg-6 left-background-dev">
         <%= image_tag @developer_profile.user.photo, class:"image-dev" %>
        </div>

        <div class="col-lg-6 right-background-dev">
          <h2> <%= @developer_profile.user.first_name %> </h2>
          <h1><strong> <%= @developer_profile.user.last_name %> </strong></h1>
          <h2 class="about-me-h2">About me</h2>
          <p><%= @developer_profile.technologies %></p>

          <p> <%= @developer_profile.description %> </p>
          <h4 class="pricep"> <%= @developer_profile.price %> / hour</h4>

          <% if current_user.id != @developer_profile.id %>
          <button type="button" class="btn btn-agree" data-toggle="modal" data-target="#exampleModal">
          Hire me!
          </button>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<% if current_user.id == @developer_profile.id %>
<div class="container">
  <div class="open-contracts">
    <h2 id="hire-people" class="text-contracts">My open contracts</h2>
    <div>
        <% @developer_profile.contracts.each do |contract| %>
        <div class="contracts-display">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 dev-photo-container no-gutter">
                <img class="img-dev-contract" src="<%= contract.user.photo %>">
              </div>
              <div class="col-lg-9 dev-info-box">
                <div>
                  <p><%= contract.user.first_name %> <%= contract.user.last_name %></p>
                  <p><%= contract.user.email %></p>
                </div>
                <p>Contract number: <%= contract.id %>
                  <div class="">
                   <p><%= link_to "Talk to Dev", contract_posts_path(contract.id), class: 'btn btn-agree' %></p>
                  </div>
                <div class="btn-complete-talk">
                  <%= link_to "Mark as complete",destroy_contract_path(contract.id), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-agree" %>
                </div>

              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
<% end %>

<!-- Modal -->
<div class="modal-position">

  <div class="modal fade modal-custom" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contract</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="user-modal">
            <img class="img-modal img-user" src="<%= current_user.photo %>">
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          </div>
          <hr>
          <h2 class="modal-text">You are hiring</h2>
          <div class="user-modal">
            <img class="img-modal" src="<%= @developer_profile.user.photo %>">
            <div>
              <h3> <%= @developer_profile.user.first_name %> <%= @developer_profile.user.last_name %></h3>
              <p class="modal-price">$<%= @developer_profile.price %>/hour</p>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-dismiss="modal">No, I want to Cancel</button>
          <%= link_to "Yes, I agree", developer_profile_contracts_path(@developer_profile), method: :post, class: "btn btn-agree" %>
          <!-- <button type="button" class="btn btn-agree">Yes, I agree</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
