<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dloadb2bx/image/upload/v1619880803/photo-1612194554074-81669dba235c_nd6rrz.jpg);">
  <div class="container">
    <h1>Find <strong>Developers</strong>!</h1>
    <p>The best developers around the world, ready to be hired by you.</p>
  </div>
</div>

<div class="container custom-container" >
  <div class="card-dev">
    <div class="content-dev">
      <div class="row">

        <div class="col-lg-6 left-background-dev">

        </div>

        <div class="col-lg-6 right-background-dev">
          <h2> First Name </h2>
          <h1><strong> Last Name </strong></h1>
          <h2 class="about-me-h2">About me</h2>

          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

          <h4 class="pricep">Price / hour</h4>

          <button type="button" class="btn btn-agree" data-toggle="modal" data-target="#exampleModal">
          Hire me!
          </button>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal-position">

  <div class="modal fade modal-custom" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contract</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="user-modal">
            <img class="img-modal img-user" src="<%= current_user.photo %>">
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          </div>
          <hr>
          <h2 class="modal-text">You are hiring</h2>
          <div class="user-modal">
            <img class="img-modal" src="<%= @developer_profile.user.photo %>">
            <div>
              <h3> <%= @developer_profile.user.first_name %> <%= @developer_profile.user.last_name %></h3>
              <p class="modal-price">$<%= @developer_profile.price %>/hour</p>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-dismiss="modal">No, I want to Cancel</button>
          <%= link_to "Yes, I agree", developer_profile_contracts_path(@developer_profile), method: :post, class: "btn btn-agree" %>
          <!-- <button type="button" class="btn btn-agree">Yes, I agree</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
